/* Parents and Common Styles */

body, h2, h3 {
    margin: 0;
}
header, header > div, nav, .player {
    display: flex;
}
header, #idea, nav, .player {
    align-items: center;
}
header, main {
    padding: 0 15%;
}
main {
    background-color: #E6E6FA;
    overflow: hidden;
}
section {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 15px 0;
    padding: 30px;
}
img {
    width: 100%;
}

/* Header Styles */

header {
    background-color: #562EFF;
    height: 100px;
    justify-content: space-between;
}
header h2 {
    margin-left: 15px;
}
header, nav > a {
    color: #ffffff;
}
nav > a {
    margin-right: 35px;
    text-decoration: none;
}

/* Top Player and Top Blog Styles */

#top-players > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
hr {
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}
.player-image {
    width: 56px;
}
.player-name {
    margin: 0 auto 0 15px;
}